//Imports

@import "base/vars";
@import "base/reset";

//import componentes
@import "components/navbar";
@import "components/footer";

//import layouts
@import "layout/index";
@import "layout/servicios";
@import "layout/preguntas";
@import "layout/porqueelegirnos";
@import "layout/contacto";
@import "layout/mediaqueris"