/* Porque elegirnos */
.main_elegirnos{
    background-color: #c7a836;



}


.main_porque {
    background-color: #c7a836;
    h1 {
        font-size: 60px;
    
    }
}

.porque__2 {
    display: grid;
    place-items: center;
}

.main_porque {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 15px;
    text-align: center;

}

.col {
    background: linear-gradient(rgb(0, 255, 64),rgb(64, 119, 64));
    height: 400px;
    width: 400px;
    border-radius: 10px;
    
    &:hover  {
        transform: scale( 1,1.05);
    }
    
    
}

.porque-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        text-align: center;
        width: 400px;
        height: 500px;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(125, 131, 30);
        &:hover {
            background-color: rgb(192, 198, 43);
        }
        h2 {
            margin: 10px;
            padding: 10px;
            font-size: 50px;
            font-family: Arial;
            p {
                font-size: 25px;
                font-weight: 100;
        }
    }

}
}
