/* Porque elegirnos */

.main_porque {
    background-color: #25d366;
}
    h1{
        border-radius: 10px;
    }
        .col { background-color:#25d366;
                text-align: center;
            }