/* navegador hamburguesa */
.header
{
    background-color: red;
    box-shadow: 1px 1px 5px 0px royalblue;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.tocar{
    list-style-type: none;
}

.logo
{
    display: inline-block;
    text-decoration: none;
    color:  #c7a836;
    font-size: 60px;
    margin-left: 10px;
}

.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(158, 54, 22);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.tocar a
{
    display: block;
    text-decoration: none;
    padding: 30px;
    color: rgb(234, 234, 234);
}

.tocar a:hover
{
    background-color: black;
}

.hamb
{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line 
{
    background: brown;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: aquamarine;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 892px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .tocar li
    {
        float: left;
    }

    .tocar a:hover
    {
        background-color: transparent;
        color: burlywood
    }

    .hamb
    {
        display: none;
    }
}

@media (min-width: 892px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .tocar li
    {
        float: left;
    }

    .tocar a:hover
    {
        background-color: transparent;
        color: burlywood
    }

    .hamb
    {
        display: none;
    }
}